    
    /*HERO*/

.loteo-hero {
  min-height: 70vh;
  background: 
    linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25)),
    url("../../activos/img/Entre_Sierras/loteo-entre-sierras.jpg")
    center / cover no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 40px 20px;
   transform: scale(1.05);
    animation:
    heroFade 1.2s ease-out forwards,
    heroZoom 6s ease-out forwards;    
}

.loteo-hero-overlay {
  max-width: 900px;
  margin: 0 auto;
  color: #ffffff;
  opacity: 0;
  transform: translateY(20px);
  animation: heroText 2s ease-out forwards;

}

.loteo-hero-overlay h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.loteo-hero-overlay p {
  font-size: 1rem;
  opacity: 0.95;
}

    /*ESTILO INMOBILIARIA*/

.loteo-detalle-contenido {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin: 4rem auto;
}

.loteo-ficha {
  background: #f5f5f5;
  padding: 1.5rem;
  border-radius: 12px;
}

.loteo-ficha ul {
  list-style: none;
  padding: 0;
}

.loteo-ficha li {
  margin-bottom: .8rem;
}

/*GALERÍA ELEGANTE*/

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.galeria-grid img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/*FINAL QUE VENDE*/

.loteo-cta-final {
  background: #2f8f6b;
  color: #fff;
  text-align: center;
  padding: 4rem 1rem;
}

.btn-whatsapp {
  background: #25d366;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

@keyframes heroFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}
@keyframes heroText{
  to{
    opacity: 1;
    transform: translateY(0);
  }    
}
  @keyframes heroZoom {
  to {
    transform: scale(1);
  }
}

/* GALERÍA CARRUSEL */

.galeria-swiper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background: transparent;
  filter: none;
}
.swiper-slide{
  height: 360px;
}

.swiper-slide img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  filter: none;
  opacity: 1;
}

/* Flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #2f8f6b; /* verde inmobiliaria */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #1f6d52;
  transform: scale(1.1);
}

/* Paginación */
.swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* VIDEO */

.video-wrapper {
  max-width: 900px;
  height: 380px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  background: #000;
}

.loteo-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background: #000;
}
.video-swiper {
  max-width: 900px;
  margin: 0 auto;
}


